<nav>
     <div id="nav-i">
     </div>
	<div id="nav-c">
		<ul id="nav-list" style="width: 1400px;">
			<!--<li id="home"><a href="{{ HOME_PATH }}">Home</a></li> -->
			<li id="vidu"><a href="{{ HOME_PATH }}"><i class="fa fa-home fa-fw"></i>&nbsp;Home</a></li>
			<li><a href="{{ BASE_PATH }}/archive.html"><i class="fa fa-archive"></i>&nbsp;Archive</a></li>
			<li><a href="{{ BASE_PATH }}/categories.html"><i class="fa fa-tags"></i>&nbsp;Categories</a></li>
			<!--<li><a href="{{ BASE_PATH }}/tags.html"><i class="fa fa-bookmark"></i>&nbsp;Tags</a></li>-->
			<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
			<li><a href="{{ BASE_PATH }}/about.html"><i class="fa fa-user" style="align:right;"></i>&nbsp;About me</a></li>
			<!--{% assign pages_list = site.pages %}
			{% assign group = 'navigation' %}
			{% for node in pages_list %}
				{% if node.title != null %}
				  {% if group == null or group == node.group %}
					{% if page.url == node.url %}
					<li  id = "{{node.title}}" class="active">
					<span class="nav-l-active"></span>
					<a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.title}}</a>
					<span class="nav-r-active"></span>
					</li>
					{% else %}
					<li id = "{{node.title}}"><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
					{% endif %}
				  {% endif %}
				{% endif %}
			 {% endfor %}
			{% assign pages_list = nil %}
			{% assign group = nil %}-->
		</ul>
		
		
	</div>
	<div id="nav-r">
	</div>
</nav>
